.sidebar-brand {
    width: 80%;
    margin: 0 auto;
    text-indent: 0 !important;
}
.sidebar-brand img {
    width: 100%;
}
#sidebar-wrapper {
    overflow: hidden !important;
    background-color: #ffff52 !important;
}
#search {
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}
html {
  background-color: #FFFFD5;
}

#wrapper{
  background-color: #FFFFD5;
}

#myTable {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.modal-header, h4, .close {
    background-color: #008CBA;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.navbar-yellow {
    background-color: #ffff52;
    border-bottom-style: solid;
    border-width: 1px;
}
