<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper" class="sidebar2">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="index.php">
                    <img src="css/img/ToolsForEver.jpg" alt="toolsforever">
                    <br>
                </a>
            </li>
            <li>
                <a href="accounts.php">Medewerkers</a>
            </li>
            <li>
                <a href="producten.php">Producten</a>
            </li>
            <li>
                <a href="#">Locaties</a>
            </li>
            <li>
                <a href="#">Fabrieken</a>
            </li>
            <li>
                <a href="#">Zoeken</a>
            </li>
            <li>
                <a href="contact.php">Contact</a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-yellow">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #0000ff;" href="index.php">ToolsForEver</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: #0000ff;" onMouseOver="this.style.background='#fff'" onMouseOut="this.style.background='#FFFFD5'" href="#">Karan</a>
                    <button class="btn btn-default">Uitloggen</button></li>
            </ul>
        </div>
    </nav>
